<!DOCTYPE html>
<html ng-app="landingapp" ng-controller="home">
   <head>
      <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.6-dist/css/template.css">
      <title>Human Support</title>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#">Human Support</a>
               <a href="home.html"><img src="img/logo_50.gif" alt="Human Suport Logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
               <ul class="nav navbar-nav navbar-right">
                  <a class="btn btn-info" ng-click="logout()">Logout</a>
               </ul>
            </div>
         </div>
      </nav>
      <div class="modal" id="timeoutmodal" data-backdrop="static" data-keyboard="false">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h4 class="modal-title">Hello?</h4>
               </div>
               <div class="modal-body">
                  <p>Sorry to bother you. We're just making sure you're still here!</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-success" ng-click="stillHere()">I'm Still Here! {{count}}</button>
               </div>
            </div>
         </div>
      </div>
   </head>
   <body>
	   
      <div ng-view>
      </div>
   </body>
   <script src="js/angular-1.5.min.js"></script>
   <script src="js/angular-route.js"></script>
   <script src="js/modules.js"></script>
    <script src="js/controllers.js"></script>
   <script src="js/jquery-2.2.0.min.js"></script>
   <script src="js/bootstrap-3.3.6-dist/bootstrap.min.js"></script>
</html>