<div ng-controller="techcontroller" ng-init="getTickets">

tech page here!
{{test}}
    <div class="col-sm-1"> 
        <select ng-model="stackSelected" id="stack" class="form-control" ng-click="showTable(); getTickets()">
            <option ng-repeat="stack in stackOptions" value="{{stack}}"> {{stack}} </option>
        </select>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Description </th>
                    <th> Ticket ID </th>
                    <th> Priority </th>
                    <th> Subject </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in contents.data.result" style="padding : 5px 0px">
                    <td> {{x.description}} </td>
                    <td> {{x.ticket_id}} </td>
                    <td> {{x.priority}} </td>
                    <td> {{x.subject}} </td>
                    <td><a href="#" id="{{x.ticket_id}}" class="btn btn-danger" ng-click="clickMe({{x.ticket_id}})" value="{{x.ticket_id}}">Danger</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>